@model Ejercicios_Propuestos_2.Models.Clsdistancia
@{
    ViewBag.Title = "DistanciaCalcular";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Calculo de la velocidad</h2>

<h1>Distancia a Recorrer: @Model.dist</h1>
<br /><br />
<h1>Tiempo en el cual tengo que Recorrerlo: @Model.tiemp</h1><br /><br />

<h1>Velocidades a la cual tendria que ir: </h1><br /><br />
<h1 class="alert-danger"> @Model.resultm</h1>
<h1 class="alert-danger"> @Model.resultk</h1>
<h1 class="alert-danger"> @Model.resultmi</h1>


